body {
  background-image: linear-gradient(-90deg, #e6f9ff, #99e6ff);
  font-family: Bookman, URW Bookman L, serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-variant: small-caps;
  padding-top: 60px;
  padding-bottom: 20px;
}

h7 {
  display: flex;
  justify-content: center;
  font-variant: small-caps;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  font-variant: small-caps;
  font-family: Courier New, monospace;
}

.formulaire {
  display: flex;
  justify-content: center;
}

.form-group {
  padding-left: 20px!important;
  padding-right: 300px!important;
}

.btn {
  margin-left: 20px!important;
}
